
.header-wrap {
  display: flex;
  align-items: center;
  height: 80px;
  background: #d9d9d9;
}

/* line 19, src/scss/main.scss */
.header-wrap .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1233px;
  margin: 0 auto;
}

/* line 25, src/scss/main.scss */
.header-wrap .header-container .header-right {
  display: flex;
}

/* line 28, src/scss/main.scss */
.header-wrap .header-container .header-right .menu .menu-default {
  display: flex;
  align-items: center;
  width: 138px;
  height: 33px;
  padding: 5px 0 5px 5px;
  border: 1px solid #cbcbcb;
  background: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: #7c7c7c;
  line-height: 1;
}

/* menu */
/* line 44, src/scss/main.scss */
.menu-wrap {
  height: 48px;
  background: #d0265e;
}

/* line 47, src/scss/main.scss */
.menu-wrap .menu-container {
  width: 1233px;
  margin: 0 auto;
}

/* contents */
/* line 54, src/scss/main.scss */
.contents-area-01 {
  background-image: url("../../assets/images/bg/bg-main-01.png");
  /*background-size: 1126px 769px;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

/* line 61, src/scss/main.scss */
.contents-area-03 {
  background: #fff7f7;
}

/* line 65, src/scss/main.scss */
.contents-area-05 {
  background-image: url("../../assets/images/bg/bg-banner.png");
  background-size: auto;
  background-repeat: no-repeat;
}

/* line 71, src/scss/main.scss */
.contents-area-07 {
  background: #f9f9f9;
}

/* line 75, src/scss/main.scss */
.contents-inner-01 {
  width: 1233px;
  margin: 0 auto;
}

/* line 78, src/scss/main.scss */
.contents-inner-01 .conts-container {
  padding-top: 145px;
  padding-bottom: 207px;
}

/* line 81, src/scss/main.scss */
.contents-inner-01 .conts-container h2 {
  padding-bottom: 40px;
  font-size: 78px;
  font-weight: 800;
  color: #444242;
  line-height: 102px;
}

/* line 85, src/scss/main.scss */
.contents-inner-01 .conts-container .sub-01 {
  padding-bottom: 19px;
  font-size: 33px;
  font-weight: 700;
  color: #d0265e;
  line-height: 1;
}

/* line 89, src/scss/main.scss */
.contents-inner-01 .conts-container .sub-02 {
  font-size: 24px;
  font-weight: 500;
  color: #717171;
  line-height: 1;
}

/* line 92, src/scss/main.scss */
.contents-inner-01 .conts-container .btn-area {
  padding-top: 50px;
  display: flex;
}

/* line 95, src/scss/main.scss */
.contents-inner-01 .conts-container .btn-area a {
  width: 207px;
  height: 56px;
  border: 2px solid #c0385d;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #d82442;
  line-height: 60px;
}

/* line 101, src/scss/main.scss */
.contents-inner-01 .conts-container .btn-area a.type01 {
  position: relative;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 60px;
  background-image: url("../../assets/images/bg/bg-btn-line.png");
  background-size: 100%;
  background-repeat: repeat;
  border: 0;
  overflow: hidden;
}

.contents-inner-01 .conts-container .btn-area a.type01:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 30px;
}
.contents-inner-01 .conts-container .btn-area a.type01:hover:after {
  width: 100%;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.conts-container .btn-area a.type02 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.conts-container .btn-area a.type02:hover {
  background-color: #ed3f5c;
  border-color: #ed3f5c;
  color: #fff;
}

/* line 110, src/scss/main.scss */
.contents-inner-01 .conts-container .btn-area a:first-child {
  margin-right: 40px;
}

/* line 113, src/scss/main.scss */
.contents-inner-01 .conts-container .btn-area a {
  display: inline-block;
  width: 207px;
  height: 60px;
  border: 2px solid #c0385d;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #d82442;
  line-height: 56px;
}

/* line 126, src/scss/main.scss */
.contents-inner-02 {
  width: 1233px;
  margin: 0 auto;
}

/* line 129, src/scss/main.scss */
.contents-inner-02 .conts-container {
  padding-bottom: 65px;
}

/* line 131, src/scss/main.scss */
.contents-inner-02 .conts-container h3 {
  font-size: 48px;
  font-weight: 800;
  color: #2e2e2e;
  line-height: 48.16px;
}

/* line 134, src/scss/main.scss */
.contents-inner-02 .conts-container .sub-01 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #717171;
  line-height: 30px;
}

/* line 138, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 85px;
}

/* line 142, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container {
  width: 377px;
  height: 334px;
  margin-bottom: 28px;
  margin-right: 34px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 18px 0px rgba(183, 140, 149, 0.15);
  text-align: center;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.contents-inner-02 .conts-container .conts-list .list-container .img-area {
  height: 68px;
}

/* line 151, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container a {
  display: inline-block;
  width: 377px;
  height: 334px;
  padding-top: 65px;
}

/* line 157, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container .sub-01 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 800;
  color: #2e2e2e;
  line-height: 29.66px;
}

/* line 161, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container .sub-02 {
  padding-top: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  line-height: 23.73px;
}

/* line 166, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-02 .sub-01 {
  padding-top: 30px;
}

/* line 169, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-02 .sub-02 {
  padding-top: 25px;
}

/* line 174, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-03 .sub-01 {
  padding-top: 30px;
}

/* line 177, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-03 .sub-02 {
  padding-top: 25px;
}

/* line 182, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-04 .sub-01 {
  padding-top: 30px;
}

/* line 185, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-04 .sub-02 {
  padding-top: 25px;
}

/* line 190, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-05 .sub-01 {
  padding-top: 30px;
}

/* line 193, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-05 .sub-02 {
  padding-top: 25px;
}

/* line 198, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-06 .sub-01 {
  padding-top: 30px;
}

/* line 201, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container.list-06 .sub-02 {
  padding-top: 25px;
}

/* line 206, src/scss/main.scss */
.contents-inner-02 .conts-container .conts-list .list-container:nth-child(3n) {
  margin-right: 0;
}
.contents-inner-02 .conts-container .conts-list .list-container:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 25px 0px rgba(183, 140, 149, 0.5);
  transition: all 0.3s ease-in-out;
}

/* line 213, src/scss/main.scss */
.contents-inner-03 {
  width: 1233px;
  margin: 0 auto;
}

/* line 216, src/scss/main.scss */
.contents-inner-03 .conts-container {
  padding: 70px 0 60px;
  text-align: center;
}

/* line 219, src/scss/main.scss */
.contents-inner-03 .conts-container .sub-01 {
  font-size: 33px;
  font-weight: 700;
  color: #444242;
  line-height: 38.33px;
}

/* line 222, src/scss/main.scss */
.contents-inner-03 .conts-container .sub-02 {
  padding-top: 23px;
  font-size: 24px;
  font-weight: 700;
  color: #444242;
  line-height: 38.33px;
}

/* line 226, src/scss/main.scss */
.contents-inner-03 .conts-container .btn-area {
  padding-top: 23px;
}

/* line 228, src/scss/main.scss */
.contents-inner-03 .conts-container .btn-area a {
  display: inline-block;
  width: auto;
  height: 60px;
  padding: 0 23px;
  border: 2px solid #c0385d;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #d0265e;
  line-height: 56px;
}

/* line 241, src/scss/main.scss */
.contents-inner-04 {
  width: 1233px;
  margin: 0 auto;
}

/* line 244, src/scss/main.scss */
.contents-inner-04 .conts-container {
  padding: 88px 0 78px;
  text-align: center;
}

/* line 247, src/scss/main.scss */
.contents-inner-04 .conts-container h3 {
  font-size: 49px;
  font-weight: 800;
  color: #2e2e2e;
  line-height: 1;
}

/* line 250, src/scss/main.scss */
.contents-inner-04 .conts-container .sub-01 {
  padding-top: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #444242;
  line-height: 1;
}

/* line 254, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

/* line 260, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link .dev-sub a {
  display: inline-block;
  width: 503px;
  height: 191px;
  padding: 50px 48px 0;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 18px 0px rgba(183, 140, 149, 0.15);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
.contents-inner-04 .conts-container .conts-link .dev-sub a:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 25px 0px rgba(183, 140, 149, 0.5);
  transition: all 0.3s ease-in-out;
}

/* line 268, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner {
  display: flex;
  align-items: center;
  text-align: left;
}

/* line 272, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner .img-area {
  padding-right: 45px;
}

/* line 275, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner .sub-02 {
  font-size: 24px;
  font-weight: 800;
  color: #2e2e2e;
  line-height: 1;
}

/* line 278, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner .sub-03 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  line-height: 24px;
}

/* line 285, src/scss/main.scss */
.contents-inner-04 .conts-container .conts-link .dev-sub:first-child {
  margin-right: 227px;
}

/* line 292, src/scss/main.scss */
.contents-inner-05 {
  padding: 60px 0;
  text-align: center;
}

/* line 295, src/scss/main.scss */
.contents-inner-05 .sub-01 {
  font-size: 33px;
  font-weight: 800;
  color: #444242;
  line-height: 1;
}

/* line 298, src/scss/main.scss */
.contents-inner-05 .sub-02 {
  padding-top: 25px;
  font-size: 33px;
  font-weight: 800;
  color: #444242;
  line-height: 1;
}

/* line 302, src/scss/main.scss */
.contents-inner-05 .btn-area {
  padding-top: 50px;
}

/* line 304, src/scss/main.scss */
.contents-inner-05 .btn-area a {
  display: inline-block;
  width: 255px;
  height: 60px;
  border: 2px solid #c0385d;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #d0265e;
  line-height: 56px;
}

/* line 315, src/scss/main.scss */
.contents-inner-06 {
  width: 1233px;
  margin: 0 auto;
  padding: 100px 0;
}

/* line 320, src/scss/main.scss */
.contents-inner-06 .conts-container h3 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #2e2e2e;
  line-height: 1;
}

/* line 324, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list {
  display: flex;
  padding-top: 75px;
}

/* line 327, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts {
  margin-right: 40px;
}

/* line 329, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts .new-inner {
  width: 384px;
  height: 414px;
  padding: 65px 35px 0 45px;
  background-color: white;
  box-shadow: 0px 4px 18px 0px rgba(183, 140, 149, 0.15);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
.contents-inner-06 .conts-container .new-list .new-conts .new-inner:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 25px 0px rgba(183, 140, 149, 0.5);
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}

/* line 336, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts .data {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #444242;
  line-height: 1;
}

/* line 340, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts .data .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url("../../assets/images/icon/icon-calendar.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

/* line 350, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts .sub-01 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 800;
  color: #444242;
  line-height: 30px;
}

/* line 354, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts .sub-02 {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  line-height: 30px;
}

/* line 359, src/scss/main.scss */
.contents-inner-06 .conts-container .new-list .new-conts:last-child {
  margin-right: 0;
}

/* line 366, src/scss/main.scss */
.contents-inner-07 {
  width: 1233px;
  margin: 0 auto;
  padding: 40px 0 50px;
}

/* line 370, src/scss/main.scss */
.contents-inner-07 .conts-container {
  text-align: center;
}

/* line 372, src/scss/main.scss */
.contents-inner-07 .conts-container h3 {
  font-size: 48px;
  font-weight: 700;
  color: #444242;
  line-height: 1;
}

/* line 375, src/scss/main.scss */
.contents-inner-07 .conts-container .site-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

/* line 380, src/scss/main.scss */
.contents-inner-07 .conts-container .site-area li {
  margin-right: 35px;
}

/* line 383, src/scss/main.scss */
.contents-inner-07 .conts-container .site-area li:last-child {
  margin-right: 0;
}

/* footer */
/* line 728, src/scss/main.scss */
.footer-wrap {
  height: 150px;
  background-image: url("../../assets/images/bg/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 반응형 적용 */
@media (max-width: 1024px) and (min-width: 769px) {
  /* line 738, src/scss/main.scss */
  .header-wrap .header-container {
    padding: 0 30px;
  }
  /* line 741, src/scss/main.scss */
  .contents-inner-01,
  .contents-inner-02 {
    padding: 0 35px;
  }
  /* main */
  /* line 747, src/scss/main.scss */
  .contents-inner-01,
  .contents-inner-02,
  .contents-inner-03,
  .contents-inner-04,
  .contents-inner-05,
  .contents-inner-06,
  .contents-inner-07 {
    max-width: 1223px;
    width: auto;
  }
  /* line 757, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list {
    justify-content: center;
  }
  /* line 760, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list .list-container {
    margin-right: 0;
  }
  /* line 763, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list .list-container:nth-child(odd) {
    margin-right: 34px;
  }
  /* line 766, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link {
    display: block;
  }
  /* line 769, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 773, src/scss/main.scss */
  .contents-inner-06 .conts-container .new-list {
    flex-wrap: wrap;
    max-width: 808px;
    margin: 0 auto;
    padding-top: 35px;
  }
  /* line 779, src/scss/main.scss */
  .contents-inner-06 .conts-container .new-list .new-conts {
    margin-right: 0;
    margin-top: 40px;
  }
  /* line 783, src/scss/main.scss */
  .contents-inner-06 .conts-container .new-list .new-conts:nth-child(odd) {
    margin-right: 40px;
  }
  /* // */
  /* blog */
  /* line 789, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list-container {
    max-width: 586px;
    margin: 0 auto;
  }
  /* line 793, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list {
    padding-right: 0;
    padding-bottom: 20px;
  }
  /* line 797, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list:nth-child(odd) {
    padding-right: 20px;
  }
  /* line 800, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list:nth-last-child(1),
  .contents-wrap.sub .category-area .category .list:nth-last-child(2),
  .contents-wrap.sub .category-area .category .list:nth-last-child(3) {
    padding-bottom: 20px;
  }
  /* line 805, src/scss/main.scss */
  .contents-wrap.sub .category-area .filter {
    padding: 0 25px 33px;
  }
  /* line 808, src/scss/main.scss */
  .contents-wrap.sub {
    max-width: 1142px;
    width: auto;
  }
  /* line 812, src/scss/main.scss */
  .contents-wrap.sub .category-area {
    max-width: 948px;
    width: auto;
  }
  /* // */
  /* blog detail */
  /* line 819, src/scss/main.scss */
  .contents-wrap.sub.detail .contents-blog,
  .contents-wrap.sub.detail .extend-txt {
    max-width: 755px;
    width: auto;
  }
  /* // */
}

@media (max-width: 768px) and (min-width: 550px) {
  /* blog */
  /* line 830, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list-container {
    display: block;
    width: 560px;
    margin: 0 auto;
    overflow: hidden;
  }
  /* line 836, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list {
    float: left;
    padding-right: 0;
    padding-bottom: 30px;
  }
  /* line 841, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list:nth-child(odd) {
    padding-right: 10px;
  }
  /* line 844, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list:nth-last-child(2),
  .contents-wrap.sub .category-area .category .list:nth-last-child(3) {
    padding-bottom: 30px;
  }
  /* // */
}

@media (max-width: 550px) and (min-width: 0) {
  /* line 852, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list-container {
    justify-content: center;
  }
  /* line 855, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list {
    padding-right: 0;
    padding-bottom: 30px;
  }
  /* line 859, src/scss/main.scss */
  .contents-wrap.sub .category-area .category .list:nth-last-child(2),
  .contents-wrap.sub .category-area .category .list:nth-last-child(3) {
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) and (min-width: 0) {
  /* main */
  /* line 867, src/scss/main.scss */
  .header-wrap .header-container {
    padding: 0 30px;
  }
  /* line 870, src/scss/main.scss */
  .contents-inner-01 .conts-container h2 {
    font-size: 50px;
    font-weight: 800;
    color: #444242;
    line-height: 60px;
  }
  /* line 873, src/scss/main.scss */
  .contents-inner-01 .conts-container .sub-01 {
    font-size: 26px;
    font-weight: 700;
    color: #d0265e;
    line-height: 1;
  }
  /* line 876, src/scss/main.scss */
  .contents-inner-01 .conts-container .sub-02 {
    font-size: 20px;
    font-weight: 500;
    color: #717171;
    line-height: 1;
  }
  /* line 879, src/scss/main.scss */
  .contents-inner-01 .conts-container .btn-area {
    display: block;
    margin: 0 auto;
  }
  /* line 883, src/scss/main.scss */
  .contents-inner-01 .conts-container .btn-area a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* line 887, src/scss/main.scss */
  .contents-inner-01 .conts-container .btn-area a {
    width: 100%;
  }
  /* line 890, src/scss/main.scss */
  .contents-inner-01,
  .contents-inner-02,
  .contents-inner-03,
  .contents-inner-04,
  .contents-inner-05,
  .contents-inner-06,
  .contents-inner-07 {
    max-width: 1223px;
    width: auto;
    padding: 0 10px;
  }
  /* line 901, src/scss/main.scss */
  .contents-inner-02 .conts-container {
    padding-bottom: 30px;
  }
  /* line 904, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list {
    justify-content: center;
    padding-top: 50px;
  }
  /* line 908, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list .list-container {
    margin-right: 0;
  }
  /* line 911, src/scss/main.scss */
  .contents-inner-03 .conts-container .sub-01 {
    font-size: 30px;
  }
  /* line 914, src/scss/main.scss */
  .contents-inner-03 .conts-container .sub-02 {
    font-size: 22px;
    line-height: 30px;
  }
  /* line 918, src/scss/main.scss */
  .contents-inner-04 .conts-container {
    padding: 40px 0;
  }
  /* line 921, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link {
    display: block;
    padding-top: 50px;
  }
  /* line 925, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 929, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner {
    text-align: center;
  }
  /* line 932, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner .img-area {
    padding: 10px 0;
  }
  /* line 935, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner .sub-03 {
    padding-top: 10px;
  }
  /* line 938, src/scss/main.scss */
  .contents-inner-06 .conts-container .new-list {
    flex-wrap: wrap;
    max-width: 384px;
    margin: 0 auto;
    padding-top: 35px;
  }
  /* line 944, src/scss/main.scss */
  .contents-inner-06 .conts-container .new-list .new-conts {
    margin-right: 0;
    margin-top: 40px;
  }
  /* line 948, src/scss/main.scss */
  .contents-inner-07 .conts-container .site-area {
    display: block;
    padding-top: 35px;
  }
  /* line 952, src/scss/main.scss */
  .contents-inner-07 .conts-container .site-area li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 956, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub a {
    width: auto;
    padding: 15px;
  }
  /* line 960, src/scss/main.scss */
  .contents-inner-04 .conts-container .conts-link .dev-sub a .sub-inner {
    display: block;
  }
  /* line 963, src/scss/main.scss */
  .contents-inner-01 .conts-container {
    padding-bottom: 100px;
  }
  /* line 966, src/scss/main.scss */
  .contents-inner-02 .conts-container h3 {
    font-size: 35px;
    font-weight: 800;
    color: #2e2e2e;
    line-height: 48.16px;
  }
  /* line 969, src/scss/main.scss */
  .contents-inner-02 .conts-container .sub-01 {
    font-size: 20px;
    font-weight: 400;
    color: #717171;
    line-height: 30px;
  }
  /* line 972, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list .list-container {
    width: auto;
  }
  /* line 975, src/scss/main.scss */
  .contents-inner-02 .conts-container .conts-list .list-container a {
    width: auto;
    min-width: 350px;
  }
  /* line 979, src/scss/main.scss */
  .contents-inner-04 .conts-container h3 {
    font-size: 35px;
    font-weight: 800;
    color: #2e2e2e;
    line-height: 1;
  }
  /* line 982, src/scss/main.scss */
  .contents-inner-04 .conts-container .sub-01 {
    font-size: 20px;
    font-weight: 700;
    color: #444242;
    line-height: 1;
  }
  /* line 985, src/scss/main.scss */
  .contents-inner-05 .sub-01 {
    font-size: 25px;
    font-weight: 800;
    color: #444242;
    line-height: 1;
  }
  /* line 988, src/scss/main.scss */
  .contents-inner-05 .sub-02 {
    font-size: 25px;
    font-weight: 800;
    color: #444242;
    line-height: 1;
  }
  /* line 991, src/scss/main.scss */
  .contents-inner-05 .btn-area {
    padding-top: 30px;
  }
  /* line 994, src/scss/main.scss */
  .contents-inner-05 {
    padding: 20px 5px;
  }
  /* line 997, src/scss/main.scss */
  .contents-inner-06 {
    padding-top: 40px;
  }
  /* line 1000, src/scss/main.scss */
  .contents-inner-06 .conts-container h3 {
    font-size: 35px;
    font-weight: 800;
    color: #2e2e2e;
    line-height: 1;
  }
  /* line 1003, src/scss/main.scss */
  .contents-inner-06 .conts-container .new-list .new-conts .new-inner {
    width: auto;
    min-width: 350px;
    padding: 10px;
  }
  /* line 1008, src/scss/main.scss */
  .contents-inner-07 {
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 1013, src/scss/main.scss */
  .contents-inner-07 .conts-container h3 {
    font-size: 35px;
    font-weight: 700;
    color: #444242;
    line-height: 1;
  }
  /* // */
  /* blog */
  /* line 1019, src/scss/main.scss */
  .contents-wrap.sub {
    max-width: 1142px;
    width: auto;
  }
  /* line 1023, src/scss/main.scss */
  .contents-wrap.sub .category-area {
    max-width: 948px;
    width: auto;
  }
  /* line 1027, src/scss/main.scss */
  .contents-wrap.sub .category-area .filter {
    display: block;
    padding: 0 25px 25px;
  }
  /* line 1031, src/scss/main.scss */
  .contents-wrap.sub .category-area .filter .tit {
    padding-bottom: 10px;
  }
  /* line 1034, src/scss/main.scss */
  .contents-wrap.sub .tit-area {
    font-size: 35px;
    font-weight: 700;
    color: #444444;
    line-height: 1;
  }
  /* // */
  /* blog detail */
  /* line 1040, src/scss/main.scss */
  .contents-wrap.sub.detail .contents-blog,
  .contents-wrap.sub.detail .extend-txt {
    max-width: 755px;
    width: auto;
  }
  /* line 1045, src/scss/main.scss */
  .contents-wrap.sub.detail .contents-blog .note {
    height: 94px;
  }
  /* // */
}
